.menu{
	background-color: #0e8b4a !important;
	padding: 0px;
	text-transform: uppercase;
}
.rodape{
	background-color: #0e8b4a;
	margin-bottom: 0px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255, 255);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255,255,255,255);
}

.w-100{
	max-height: 450px;
}
.logo{
	width: 150px;
	height: 80px;
	margin-bottom: 15px;
}
p{
	text-align: justify;
}
footer address:last-child{
	margin-bottom: 0;
}
footer{
	margin-bottom: 0;
}
.position{
	position: absolute;
}
.relogio{ 
	font-size: 150%; 
	color: #fff;
	background-color: #0e8b4a;
	text-align: center;
	float: right;

}
.img-titulo{
	width: 100%;
	height: 150px;
}
.banner-titulo{
	width: 100%;
	padding: 50px;
	transition: 0.3s;
	position: absolute;
	
}
.tb{
	color: #fff;
}

html, body{
	height: 100%;
}
.corfundo{
	background-color: #E0F8E0;
}
.divider{
	margin-top: 30px; 
	position: relative;
}
.container{
	position: relative;
}

.rodape{
	background-color: #0e8b4a !important;
	padding: 2px;
	color: #fff;
	margin-bottom: 0px;
	font-size: 12px;

}
.rodape p{
	margin-bottom: 0px;
	text-align: center;
}
.teste{
	float: right !important;
}

@media(min-width: 797px){
.scrollToTop {
    color: #fff;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #0e8b4a;
    z-index: 1005;
    border-radius: 50px;
    display: none;
    font-size: 35px;
}
.scrollToTop a{
	color: #fff;
	transition: 0.3s;
}
}
.mt-2, .my-2 {
    margin-right: 10px;
}
.jumbotron{
	margin-bottom: 0px;
	padding: 1px;
	text-align: center;
}
.jumbotron p{
	text-align: center;
}


