<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title>Green Dog Delivery</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}"></link>
<script th:src="@{/bootstrap/js/bootstrap.min.js}" ></script>
<script th:src="@{http://code.jquery.com/jquery-1.11.1.min.js}"></script>
<link rel="stylesheet" type="text/css" href="/fontes/css/font-awesome.css" th:href="@{/fontes/css/font-awesome.css}">
<link rel="stylesheet" href="../estilos.css"  th:href="@{/estilos.css}"/>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<!-- Jquery -->
<script th:src="@{/jquery.js}"></script>
</head>
<body>
	<header id="inicio">
		<div class="menu">
			<div class="container ">
				<nav class="navbar navbar-expand-lg navbar-light bg-light menu">
					<!-- <a  href="#">Navbar</a>-->
					<img class="navbar-brand logo" src="img/logotopalto.png"></img>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
						<div class="navbar-nav">
							<a class="nav-item nav-link active" href="">INICIO<span class="sr-only">(current)</span></a>
							<a class="nav-item nav-link" href="#"></a>
							<div class="dropdown">
								<li class="nav-item nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									SERVIÇOS
								</li>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
									<a class="dropdown-item" target="_blank" href="http://kbtrack.com.br/wplogin.aspx">KBTRACK</a>
									<a class="dropdown-item" target="_blank" href="http://192.168.53.8/pedidovenda">PEDIDO VENDA</a>
									<a class="dropdown-item" target="_blank" href="http://192.168.53.169">CVFT 1</a>
									<a class="dropdown-item" target="_blank" href="http://192.168.53.51">CVFT 2</a>
								</div>
							</div>
							<div class="dropdown">
								<li class="nav-item nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									TOPALTO
								</li>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" href="#aniversario">ANIVERSARIANTES</a>
									<a class="dropdown-item" href="#cardapio">CARDÁPIO</a>
									<a class="dropdown-item" href="#ramal">RAMAIS</a>
									<a class="dropdown-item" href="#calendario">CALENDÁRIO</a>

								</div>
							</div>
							<a class="nav-item nav-link" th:href="@{eventos}">EVENTOS</a>					


						</div>
					</div>					
					<a role="button" id="email" target="_blank" href="http://mail.topalto-ba.com.br" class="btn btn-outline-light my-2 ">EMAIL</a>
					<a role="button" target="_blank" href="http://192.168.53.6/glpi" class="btn btn-outline-light my-2">REGISTRAR CHAMADO</a>
					<input size="4" type='text' value='00:00:00' id='relogio' class="relogio"></input>	
				</nav>
			</div>
		</div>
	</header>
	<script th:src="@{/bootstrap/js/timeslide.js}" type="text/javascript"></script>
	<script th:src="@{/js/clock.js}"></script>
	<script th:src="@{/js/navbar.js}"></script>
	<div layout:fragment="content">content falso</div>
</body>
</html>